body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 200px;
  margin: 1%;
  display: flex;
  flex-direction: row;
}

#logoComponent {
  width: 10%;
}

#navComponent {
  width: 90%;
}

#logoImage {
  width: 100%;
}

#navItems {
  flex-flow: row wrap;
  justify-content: center;
}

#navItems a {
  text-decoration: none;
}