body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 300px) {
  header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  }
  
  #logoComponent {
    width: 60%;
    
  }
  #navButton {
    width: 20%;
  }
  #cartButton {
    width: 20%;
  }
  
  #navComponent {
    display: none;
  }
  
  #logoImage {
    width: 55%;
  }
  #navImage {
    width: 100%;
  }
  #cartImage {
    width: 100%;
  }
}

@media screen and (min-width: 720px) {
  #navButton {
    display: none;
  }

  #navComponent {
    display: flex;
    width: 60%;
    align-items: center;
  }
  #logoComponent {
    width: 20%;
  }
  #cartButton {
    width: 15%;
  }
  #logoImage {
    width: 100%;
  }
  #navItems {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  #navItems a {
    text-decoration: none;
    color: black;
  }

}

